
<div class="container mt-5">
    <div class="container mb-4">
        <a href="/issues-tracker/new" class="btn btn-primary"><i class="bi bi-plus-circle"></i> New Ticket</a>
    </div>

    {{#if issues.length}}
        <table id="issuesTable"
            data-toggle="table"
            data-search="true"
            data-pagination="true"
            data-page-size="20"
            data-page-list="[20, 30, 40, 50, 60]"
            data-sort-name="createdAt"
            data-sort-order="asc"
            class="table table-striped">
            <thead>
                <tr>
                    <th data-field="title" data-sortable="true">Title</th>
                    <th data-field="requested_by" data-sortable="true">Requested By</th>
                    <th data-field="project" data-sortable="true">Project</th>
                    <th data-field="status" data-sortable="true">Status</th>
                    <th data-field="createdAt" data-sortable="true" data-formatter="dateFormatter">Created At</th>
                </tr>
            </thead>
            <tbody>
                {{#each issues}}
                <tr>
                    <td><a href="/issues-tracker/{{this._id}}"><strong>{{this.title}}</strong></a></td>
                    <td>{{this.requested_by}}</td>
                    <td>{{this.project}}</td>
                    <td>{{this.status}}</td>
                    <td>{{this.createdAt}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <div class="list-group"></div>
            <p class="text-muted">No issues available.</p>
        </div>
    {{/if}}
</div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table.min.js"></script>

<!-- Initialize the table --> 
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var table = document.getElementById("issuesTable");
        if (table) {
            $(table).bootstrapTable();
        }
    });

    function dateFormatter(value) {
        return new Date(value).toLocaleString();
    }
</script>