
<div class="container mt-5">
    <div class="container mb-4">
        <a href="/tickets/new" class="btn btn-primary"><i class="bi bi-plus-circle"></i> New Ticket</a>
    </div>

    <div class="list-group">
        {{#if tickets.length}}
            {{#each tickets}}
                <a href="/tickets/{{this._id}}" class="list-group-item list-group-item-action">
                <strong>{{this.title}}</strong> - {{this.status}}
                <small class="text-muted">Created at: {{this.createdAt}}</small>
                </a>
            {{/each}}
        {{else}}
            <p class="text-muted">No tickets available.</p>
        {{/if}}
    </div>
</div>